<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Placeholder for dynamic content -->
<section th:fragment="content">
    <fieldset>
        <legend>Address</legend>
        <div>
            <label for="houseNumber">House Number:</label>
            <input type="text" id="houseNumber" name="address.houseNumber" required>
        </div>
        <div>
            <label for="street">Street:</label>
            <input type="text" id="street" name="address.street" required>
        </div>
        <div>
            <label for="city">City:</label>
            <input type="text" id="city" name="address.city" required>
        </div>
        <div>
            <label for="state">State:</label>
            <input type="text" id="state" name="address.state" required>
        </div>
        <div>
            <label for="zip">Zip Code:</label>
            <input type="text" id="zip" name="address.zip" required>
        </div>
        <div>
            <label for="country">Country:</label>
            <select id="country" name="address.country" required default="PAKISTAN">
                <option value="AFGHANISTAN">AFGHANISTAN</option>
                <option value="ALBANIA">ALBANIA</option>
                <option value="ALGERIA">ALGERIA</option>
                <option value="ANDORRA">ANDORRA</option>
                <option value="ANGOLA">ANGOLA</option>
                <option value="ANTIGUA_AND_BARBUDA">ANTIGUA AND BARBUDA</option>
                <option value="ARGENTINA">ARGENTINA</option>
                <option value="ARMENIA">ARMENIA</option>
                <option value="AUSTRALIA">AUSTRALIA</option>
                <option value="AUSTRIA">AUSTRIA</option>
                <option value="AZERBAIJAN">AZERBAIJAN</option>
                <option value="BAHAMAS">BAHAMAS</option>
                <option value="BAHRAIN">BAHRAIN</option>
                <option value="BANGLADESH">BANGLADESH</option>
                <option value="BARBADOS">BARBADOS</option>
                <option value="BELARUS">BELARUS</option>
                <option value="BELGIUM">BELGIUM</option>
                <option value="BELIZE">BELIZE</option>
                <option value="BENIN">BENIN</option>
                <option value="BHUTAN">BHUTAN</option>
                <option value="BOLIVIA">BOLIVIA</option>
                <option value="BOSNIA_AND_HERZEGOVINA">BOSNIA AND HERZEGOVINA</option>
                <option value="BOTSWANA">BOTSWANA</option>
                <option value="BRAZIL">BRAZIL</option>
                <option value="BRUNEI">BRUNEI</option>
                <option value="BULGARIA">BULGARIA</option>
                <option value="BURKINA_FASO">BURKINA FASO</option>
                <option value="BURUNDI">BURUNDI</option>
                <option value="CABO_VERDE">CABO VERDE</option>
                <option value="CAMBODIA">CAMBODIA</option>
                <option value="CAMEROON">CAMEROON</option>
                <option value="CANADA">CANADA</option>
                <option value="CENTRAL_AFRICAN_REPUBLIC">CENTRAL AFRICAN_REPUBLIC</option>
                <option value="CHAD">CHAD</option>
                <option value="CHILE">CHILE</option>
                <option value="CHINA">CHINA</option>
                <option value="COLOMBIA">COLOMBIA</option>
                <option value="COMOROS">COMOROS</option>
                <option value="CONGO_DEMOCRATIC_REPUBLI">CONGO DEMOCRATIC REPUBLI</option>
                <option value="CONGO_REPUBLIC">CONGO REPUBLIC</option>
                <option value="COSTA_RICA">COSTA RICA</option>
                <option value="CROATIA">CROATIA</option>
                <option value="CUBA">CUBA</option>
                <option value="CYPRUS">CYPRUS</option>
                <option value="CZECH_REPUBLIC">CZECH REPUBLIC</option>
                <option value="DENMARK">DENMARK</option>
                <option value="DJIBOUTI">DJIBOUTI</option>
                <option value="DOMINICA">DOMINICA</option>
                <option value="DOMINICAN_REPUBLIC">DOMINICAN REPUBLIC</option>
                <option value="EAST_TIMOR">EAST TIMOR</option>
                <option value="ECUADOR">ECUADOR</option>
                <option value="EGYPT">EGYPT</option>
                <option value="EL_SALVADOR">EL SALVADOR</option>
                <option value="EQUATORIAL_GUINEA">EQUATORIAL GUINEA</option>
                <option value="ERITREA">ERITREA</option>
                <option value="ESTONIA">ESTONIA</option>
                <option value="ESWATINI">ESWATINI</option>
                <option value="ETHIOPIA">ETHIOPIA</option>
                <option value="FIJI">FIJI</option>
                <option value="FINLAND">FINLAND</option>
                <option value="FRANCE">FRANCE</option>
                <option value="GABON">GABON</option>
                <option value="GAMBIA">GAMBIA</option>
                <option value="GEORGIA">GEORGIA</option>
                <option value="GERMANY">GERMANY</option>
                <option value="GHANA">GHANA</option>
                <option value="GREECE">GREECE</option>
                <option value="GRENADA">GRENADA</option>
                <option value="GUATEMALA">GUATEMALA</option>
                <option value="GUINEA">GUINEA</option>
                <option value="GUINEA_BISSAU">GUINEA BISSAU</option>
                <option value="GUYANA">GUYANA</option>
                <option value="HAITI">HAITI</option>
                <option value="HONDURAS">HONDURAS</option>
                <option value="HUNGARY">HUNGARY</option>
                <option value="ICELAND">ICELAND</option>
                <option value="INDIA">INDIA</option>
                <option value="INDONESIA">INDONESIA</option>
                <option value="IRAN">IRAN</option>
                <option value="IRAQ">IRAQ</option>
                <option value="IRELAND">IRELAND</option>
                <option value="ISRAEL">ISRAEL</option>
                <option value="ITALY">ITALY</option>
                <option value="IVORY_COAST">IVORY COAST</option>
                <option value="JAMAICA">JAMAICA</option>
                <option value="JAPAN">JAPAN</option>
                <option value="JORDAN">JORDAN</option>
                <option value="KAZAKHSTAN">KAZAKHSTAN</option>
                <option value="KENYA">KENYA</option>
                <option value="KIRIBATI">KIRIBATI</option>
                <option value="KOSOVO">KOSOVO</option>
                <option value="KUWAIT">KUWAIT</option>
                <option value="KYRGYZSTAN">KYRGYZSTAN</option>
                <option value="LAOS">LAOS</option>
                <option value="LATVIA">LATVIA</option>
                <option value="LEBANON">LEBANON</option>
                <option value="LESOTHO">LESOTHO</option>
                <option value="LIBERIA">LIBERIA</option>
                <option value="LIBYA">LIBYA</option>
                <option value="LIECHTENSTEIN">LIECHTENSTEIN</option>
                <option value="LITHUANIA">LITHUANIA</option>
                <option value="LUXEMBOURG">LUXEMBOURG</option>
                <option value="MADAGASCAR">MADAGASCAR</option>
                <option value="MALAWI">MALAWI</option>
                <option value="MALAYSIA">MALAYSIA</option>
                <option value="MALDIVES">MALDIVES</option>
                <option value="MALI">MALI</option>
                <option value="MALTA">MALTA</option>
                <option value="MARSHALL_ISLANDS">MARSHALL ISLANDS</option>
                <option value="MAURITANIA">MAURITANIA</option>
                <option value="MAURITIUS">MAURITIUS</option>
                <option value="MEXICO">MEXICO</option>
                <option value="MICRONESIA">MICRONESIA</option>
                <option value="MOLDOVA">MOLDOVA</option>
                <option value="MONACO">MONACO</option>
                <option value="MONGOLIA">MONGOLIA</option>
                <option value="MONTENEGRO">MONTENEGRO</option>
                <option value="MOROCCO">MOROCCO</option>
                <option value="MOZAMBIQUE">MOZAMBIQUE</option>
                <option value="MYANMAR">MYANMAR</option>
                <option value="NAMIBIA">NAMIBIA</option>
                <option value="NAURU">NAURU</option>
                <option value="NEPAL">NEPAL</option>
                <option value="NETHERLANDS">NETHERLANDS</option>
                <option value="NEW_ZEALAND">NEW_ZEALAND</option>
                <option value="NICARAGUA">NICARAGUA</option>
                <option value="NIGER">NIGER</option>
                <option value="NIGERIA">NIGERIA</option>
                <option value="NORTH_KOREA">NORTH KOREA</option>
                <option value="NORTH_MACEDONIA">NORTH MACEDONIA</option>
                <option value="NORWAY">NORWAY</option>
                <option value="OMAN">OMAN</option>
                <option value="PAKISTAN" default>PAKISTAN</option>
                <option value="PALAU">PALAU</option>
                <option value="PALESTINE">PALESTINE</option>
                <option value="PANAMA">PANAMA</option>
                <option value="PAPUA_NEW_GUINEA">PAPUA NEW GUINEA</option>
                <option value="PARAGUAY">PARAGUAY</option>
                <option value="PERU">PERU</option>
                <option value="PHILIPPINES">PHILIPPINES</option>
                <option value="POLAND">POLAND</option>
                <option value="PORTUGAL">PORTUGAL</option>
                <option value="QATAR">QATAR</option>
                <option value="ROMANIA">ROMANIA</option>
                <option value="RUSSIA">RUSSIA</option>
                <option value="RWANDA">RWANDA</option>
                <option value="SAINT_KITTS_AND_NEVIS">SAINT KITTS AND NEVIS</option>
                <option value="SAINT_LUCIA">SAINT LUCIA</option>
                <option value="SAINT_VINCENT_AND_THE_GRENADINE">SAINT VINCENT AND THE
                    GRENADINE
                </option>
                <option value="SAMOA">SAMOA</option>
                <option value="SAN_MARINO">SAN MARINO</option>
                <option value="SAO_TOME_AND_PRINCIPE">SAO TOME AND PRINCIPE</option>
                <option value="SAUDI_ARABIA">SAUDI ARABIA</option>
                <option value="SENEGAL">SENEGAL</option>
                <option value="SERBIA">SERBIA</option>
                <option value="SEYCHELLES">SEYCHELLES</option>
                <option value="SIERRA_LEONE">SIERRA LEONE</option>
                <option value="SINGAPORE">SINGAPORE</option>
                <option value="SLOVAKIA">SLOVAKIA</option>
                <option value="SLOVENIA">SLOVENIA</option>
                <option value="SOLOMON_ISLANDS">SOLOMON ISLANDS</option>
                <option value="SOMALIA">SOMALIA</option>
                <option value="SOUTH_AFRICA">SOUTH AFRICA</option>
                <option value="SOUTH_KOREA">SOUTH KOREA</option>
                <option value="SOUTH_SUDAN">SOUTH SUDAN</option>
                <option value="SPAIN">SPAIN</option>
                <option value="SRI_LANKA">SRI LANKA</option>
                <option value="SUDAN">SUDAN</option>
                <option value="SURINAME">SURINAME</option>
                <option value="SWEDEN">SWEDEN</option>
                <option value="SWITZERLAND">SWITZERLAND</option>
                <option value="SYRIA">SYRIA</option>
                <option value="TAIWAN">TAIWAN</option>
                <option value="TAJIKISTAN">TAJIKISTAN</option>
                <option value="TANZANIA">TANZANIA</option>
                <option value="THAILAND">THAILAND</option>
                <option value="TOGO">TOGO</option>
                <option value="TONGA">TONGA</option>
                <option value="TRINIDAD_AND_TOBAGO">TRINIDAD AND TOBAGO</option>
                <option value="TUNISIA">TUNISIA</option>
                <option value="TURKEY">TURKEY</option>
                <option value="TURKMENISTAN">TURKMENISTAN</option>
                <option value="TUVALU">TUVALU</option>
                <option value="UGANDA">UGANDA</option>
                <option value="UKRAINE">UKRAINE</option>
                <option value="UNITED_ARAB_EMIRATES">UNITED ARAB EMIRATES</option>
                <option value="UNITED_KINGDOM">UNITED KINGDOM</option>
                <option value="UNITED_STATES">UNITED STATES</option>
                <option value="URUGUAY">URUGUAY</option>
                <option value="UZBEKISTAN">UZBEKISTAN</option>
                <option value="VANUATU">VANUATU</option>
                <option value="VATICAN_CITY">VATICAN CITY</option>
                <option value="VENEZUELA">VENEZUELA</option>
                <option value="VIETNAM">VIETNAM</option>
                <option value="YEMEN">YEMEN</option>
                <option value="ZAMBIA">ZAMBIA</option>
                <option value="ZIMBABWE">ZIMBABWE</option>
            </select>
        </div>
    </fieldset>
</section>
</body>
</html>