<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Placeholder for dynamic content -->
<section th:fragment="content (name_prepend)">
    <main>
        <fieldset>
            <legend>Branch</legend>
            <div>
                <label for="name">Name:</label>
                <input type="text" th:name="${name_prepend} + 'name'" required>
            </div>
            <div>
                <label for="code">Code:</label>
                <input type="text" th:name="${name_prepend} + 'code'" required>
            </div>
            <div>
                <label for="phone">Phone:</label>
                <input type="text" th:name="${name_prepend} + 'phone'" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" th:name="${name_prepend} + 'email'" required>
            </div>
            <div>
                <label for="website">Website:</label>
                <input type="text" th:name="${name_prepend} + 'website'">
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea th:name="${name_prepend} + 'description'"></textarea>
            </div>
            <div>
                <label for="active">Active:</label>
                <input type="checkbox" th:name="${name_prepend} + 'active'">
            </div>
        </fieldset>
    </main>
</section>