<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Placeholder for dynamic content -->
<section th:fragment="content">
    <fieldset>
        <legend>Business</legend>
            <div>
                <label for="businessName">Name:</label>
                <input type="text" id="businessName" name="business.name" required>
            </div>
            <div>
                <label for="businessDescription">Description:</label>
                <textarea id="businessDescription" name="business.description"></textarea>
            </div>
            <div>
                <label for="licence">Licence:</label>
                <input type="text" id="licence" name="business.licence" required>
            </div>
            <div>
                <label for="businessActive">Active:</label>
                <input type="checkbox" id="businessActive" name="business.active">
            </div>
    </fieldset>
</section>
</body>
</html>