<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Placeholder for dynamic content -->
<section th:fragment="content (name_prepend)">
    <main>
        <fieldset>
            <legend>Person</legend>
            <div>
                <label for="firstName">First Name:</label>
                <input type="text" th:name="${name_prepend} + 'firstName'" required>
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input type="text" th:name="${name_prepend} + 'lastName'" required>
            </div>
            <div>
                <label for="contactNumber">Contact Number:</label>
                <input type="text" th:name="${name_prepend} + 'contactNumber'" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" th:name="${name_prepend} + 'email'" required>
            </div>
            <div>
                <label for="nationalId">National Id:</label>
                <input type="text" th:name="${name_prepend} + 'nationalId'" required>
            </div>
            <div th:with="addressPrepend=${name_prepend}">
                <div th:insert="~{fieldsets/address :: content(name_prepend=${addressPrepend} + 'address[0].')}"></div>
            </div>
        </fieldset>
    </main>
</section>
</body>
</html>