<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="content (name_prepend)" x-data="{showDialog:false}">

    <fieldset>
        <legend>Product</legend>
        <div>
            <label for="name">Name:</label>
            <input type="text" th:name="${name_prepend} + 'name'" required>
        </div>
        <div>
            <label for="company">Company:</label>
            <input type="text" th:name="${name_prepend} + 'company'" required>
        </div>
        <div>
            <label for="weight">Weight:</label>
            <input type="text" th:name="${name_prepend} + 'weight'" required>
        </div>
        <div>
            <label for="dimentions">Dimentions:</label>
            <input type="text" th:name="${name_prepend} + 'dimentions'" required>
        </div>
    </fieldset>

</section>
</html>