<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="content" x-data="{showDialog:false}">
    <script>
        function closeDialog(evt) {
            document.querySelector("#cancel_business_add").click();
        }
    </script>
    <dialog :open="showDialog">
        <h3>Add Branch</h3>
        <form hx-put="/api/branches" method="dialog" hx-swap="none" hx-on:htmx:after-request="closeDialog(event)">
            <div th:insert="~{fieldsets/branch :: content(name_prepend='')}"></div>
            <div th:insert="~{fieldsets/address :: content(name_prepend='address.')}"></div>
            <button type="submit">Submit</button>
            <button id="cancel_business_add" type="reset" @click="showDialog = false">Cancel</button>
        </form>
    </dialog>
    <button @click="showDialog = !showDialog">Add Branch</button>
</section>
</html>