<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <section th:fragment="content">

        <div th:insert="~{dialogues/add_inventory :: content}"></div>

        <div style="width: 100%;overflow-x: auto;">
            <table class="striped">
                <thead id="inventory_table_head">
                </thead>
                <tbody id="inventory_table_body">
                </tbody>
            </table>
        </div>
        <div id="inventory_table_paginator" style="display: flex; 
            flex-direction: row; 
            flex-wrap: wrap; 
            align-items: center; 
            justify-content: center;
            margin-top: 1em;
            ">

        </div>
        <script>
            async function loadInventory(evt) {
                const response = JSON.parse(evt.detail.xhr.response).data
                console.info("response is:", response);
                let header = `
                    <tr style="position:relative">
                        <th scope="col">Name</th>
                        <th scope="col">Maker</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Dimensions</th>
                        <th scope="col">Color</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Allowed Discount</th>
                        <th scope="col" style="position:sticky;top:0;right:0;" >Actions</th>
                    </tr>
                `;
                document.getElementById("inventory_table_head").innerHTML = header;
                let rows = '';
                if (response.content.length == 0) {
                    rows += `<tr ><td colspan="1000"><h3>No Records Found</h3></td></tr>`
                }
                response.content.map(e => {
                    rows += `<tr style="position:relative">
                        <td>${e.product.name}</td>
                        <td>${e.product.company}</td>
                        <td>${e.product.weight}</td>
                        <td>${e.product.dimentions}</td>
                        <td>${e.color}</td>
                        <td>${e.description}</td>
                        <td>${e.quantityInStock}</td>
                        <td>${e.unitPrice}</td>
                        <td>${e.allowedDiscountInPercent}%</td>
                        <td style="position:sticky;top:0;right:0;" > 
                            <a hx-on:htmx:after-request="loadPage(${response.page.number},${response.page.totalPages})" hx-delete="/api/inventory/${e.id}" hx-trigger="click" style="color:white; background-color:red" type="submit" hx-swap="none" hx-confirm="Are you sure you want to delete this item?" >✘</a>
                        </td>
                    </tr>`
                })
                let pages = `
                <input style="width: 10em" type="number" min="1" max="${response.page.totalPages}" value="${response.page.number + 1}" onchange="loadPage(this.value, ${response.page.totalPages})" />&nbsp<h1> / ${response.page.totalPages} </h1>
                `;
                const body = document.getElementById("inventory_table_body")
                body.innerHTML = rows;
                if (response.page.totalPages > 1) {
                    document.getElementById("inventory_table_paginator").innerHTML = pages;
                } else {
                    document.getElementById("inventory_table_paginator").innerHTML = "";
                }
                htmx.process(body);
            }

            function loadPage(pageNumber, totalPages) {
                pageNumber = Math.max(1, Math.min(pageNumber, totalPages)); // Ensure the page number is within valid range
                const link = document.getElementById("inventory-table-data-loader-api");
                link.setAttribute("hx-get", `/api/inventory/${pageNumber}`);
                link.click(); // Trigger the htmx request
            }
        </script>
        <a id="inventory-table-data-loader-api" hx-get="/api/inventory/1" hx-trigger="load delay:1s, click"
            hx-on:htmx:after-request="loadInventory(event)" hx-swap="none"></a>
    </section>

</html>