<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:inline="javascript">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.1"
        integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/alpinejs@3.4.2/dist/cdn.min.js" defer></script>
<!--    <script src="https://unpkg.com/htmx.org@2.0.1/dist/ext/client-side-templates.js"></script>-->
<!--    <script src="https://unpkg.com/mustache@latest"></script>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

    <meta charset="UTF-8">
    <script defer>
        document.addEventListener('DOMContentLoaded', onPageLoad);
        function setHtmxRequestHeaders(evt) {
            token = window.sessionStorage.getItem("token");
            employeeId = window.sessionStorage.getItem("activeEmployeeId");
            if (!evt.detail.path.includes("/api/users/")) {
                evt.detail.headers['Authorization'] = token
                evt.detail.headers['x-emp'] = employeeId
            }
        }
        function onPageLoad() {
            document.body.addEventListener('htmx:configRequest', setHtmxRequestHeaders);
        }
    </script>
    <title>Ambaar</title>
</head>

<body hx-boost="true" class="container" style="padding: 0.5em;">
    <!-- Placeholder for dynamic content -->
    <div th:insert="~{${content}}"></div>
</body>

</html>