<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <section th:fragment="content">
        <script defer>
            let user = JSON.parse(window.sessionStorage.getItem("user"));
            window.onload = function () {
                user.employments.map((e, index) => {
                    console.info("employements", e)
                    let option = document.createElement("option");
                    option.text = e.branch.business.name;
                    option.value = e.branch.business.id;
                    document.getElementById("business-select").add(option);
                    if (index === 0) {
                        setBranchesSelector(e.branch.business.id);
                    }
                });
                document.getElementById("business-select").addEventListener("change", (evt) => {
                    let selectedBusiness = evt.target.value;
                    setBranchesSelector(selectedBusiness);
                });
                document.getElementById("branch-select").addEventListener("change", (evt) => {
                    setEmployee(evt.target.value);
                })

            }
            function setBranchesSelector(businessId) {
                user.employments.filter(e => e.branch.business.id === businessId).map((e, index) => {
                    let option = document.createElement("option");
                    option.text = e.branch.code;
                    option.value = e.branch.id;

                    let branchesSelect = document.getElementById("branch-select");
                    branchesSelect.innerHTML = "";
                    branchesSelect.add(option);
                    if (index === 0) {
                        setEmployee(e.branch.id);
                    }
                })
            }

            function setEmployee(branchId) {
                let employeeId = user.employments.filter((e) => e.branch.id === branchId)[0].id;
                window.sessionStorage.setItem("activeEmployeeId", employeeId);
            }

        </script>
        <select id="business-select"></select>
        <div th:insert="dialogues/add_business.html :: content"></div>
        <select id="branch-select"></select>
        <div th:insert="dialogues/add_branch.html :: content"></div>
    </section>
</body>

</html>